app-header {
    height: 70px;
    padding: 0 110px;
    display: flex;
    align-items: center;
    background-color: #5A5A5A;
    color: #F0F0F0;

    .header-links {
        height: 100%;

        .header-button {
            height: 100%;
            border-radius: 0;
            font-size: 18px;
            cursor: pointer;

            &.active {
                color: #58D034;

                .mat-button-ripple {
                    border-bottom: solid 2px #58D034;
                }
            }
        }
    }
}
